#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button {
  background-color: #170f23 !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
button:hover {
  border-radius: 50%;
}

.function-button input[type="range"] {
  height: 4px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 500px;
  border-radius: 5px;
  opacity: 0.7;
}
input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:hover {
  opacity: 1;
  transform: scaleY(1.2);
}

input[type="range"]:focus {
  outline: none;
}

.volume-button input[type="range"] {
  height: 4px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100px;
  border-radius: 5px;
  opacity: 0.7;
}

.function-bar {
  width: 1200px;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #170f23;
}

.music-info {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
}

.thumbnail img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.function-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.volume-button input {
  color: white !important;
}
.song-info {
  width: 200px;
}
.btn {
  height: 60px;
  display: flex !important;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}
.duration {
  /* height: 20px; */
  /* margin-top: 10px;
  margin-bottom: 10px; */
}
.playing-thumbnail {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.playing-song-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.playing-song {
  display: flex;
  justify-content: space-between;
}
.playing-song-info {
  display: flex;
}
